body {
  font-family: monospace;
  background-color: lightblue;
}

.botao {
  border-radius: 33px;
  font-size: 40pt;
  border: none;
  padding: 15px;
  background-color: darkgray;
  cursor: pointer;
  user-select: none;
}

#mostrador {
  display: inline-block;
  margin: 17px;
  font-family: fantasy;
  font-size: 37px;
  user-select: none;
  width: 73px;
  text-align: center;
}

.negativo {
  color: red;
}

.positivo {
  color: blue;
}

.neutro {
  color: gray;
}

.controles {
  margin: 17px;
  width: fit-content;
  border: 1px solid;
  padding: 13px;
  border-radius: 7px;
}
